#main{
    margin-left: 30px;
    padding: 50px;
}

#nav{
    position: fixed;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    border-right: 1px solid black;
    border-width: thin;
    border-color: lightgray;
    font-size: 25px;
    max-width: 150px;
    width: 50%;
}

#text{
    float: left;
    margin-left: 200px;
    border-width: 1px;
    border-color: black;
    width: 50%;
    padding-bottom: 50px;
}

#image{
    border-radius: 58%;
    max-width: 120px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#buttons{
    color: #238628;
}

#js-func-h{
    color: #1580fb;
}

#nav a:hover{
    text-decoration: none;
}

.color-c{
    color: #1580fb;
}

#app-store-button{
    background-color: white;
}